/* CSS Document */

/* ---------------------------------------- Elementos HTML ------------------------------------------------ */
body {
	top: 0;
	margin: 0;
	background: gray;
}

h1 {
  margin-left: 50px;
}

@font-face {font-family: 'Cantora One';src: url('../font/CantoraOne-Regular.ttf');}
/* ---------------------------------------- Elementos HTML ------------------------------------------------ */

/* ---------------------------------------- Campo de Batalla ---------------------------------------------- */
.campo {
	background-color: black;
  background: url(../img/f7.png);
  background-size:800px 600px;
	height: 600px;
	width: 800px;
  margin: 20 auto;
	margin-left: 280px;
	margin-top: 20px;
}

.golpe {
  display: none;
  position: absolute;
  background-color: rgba(255,61,102,0.5);
  height: 600px;
  width: 800px;
  margin-left: 280px;
}
/* ---------------------------------------- Campo de Batalla ---------------------------------------------- */

/* --------------------------------------------- Victimas ------------------------------------------------- */
.vt {
	position: absolute;
  width: 100px;
  height: 95px;
	left: 980px;
  top: 530px;
}

.vt img{width: 100%;}
/* --------------------------------------------- Victimas ------------------------------------------------- */

/* ---------------------------------------- Nave Secuestradora -------------------------------------------- */
#nst {
	position: absolute;
	width: 100px;
	height: 30px;
	left: 600px;
	top: 400px;
}

#nst img {width: 100%;}

#ns3 {
  display: none;
    position: absolute;
    border-bottom: 150px solid rgba(255,255,255,0.2);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100px;
    width: 20px;
    margin-top: -100px;
    margin-left: -13px;
}
/* ---------------------------------------- Nave Secuestradora -------------------------------------------- */

/* --------------------------------------------- Bombas -------------------------------------------------- */
.bomt {
  position: absolute;
  left: 280px;
  top:20px;
  width: 25px;
  height: 25px;
   background: url(../img/b3.png);
   background-size:100% 100%;
  padding: 0;
}
/* --------------------------------------------- Bombas -------------------------------------------------- */

/* --------------------------------------------- Tablero -------------------------------------------------- */
.tablero {
  position: absolute;
  background-color: rgba(255,255,255,0.6);
  color: black;
  top:250px;
  left: 550px;
  width: 300px;
  border-radius: 20px;
  z-index: 1000;
}

.tablero ul {
  padding: 0;
  margin: 0;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.tablero li {
  font-family: 'Cantora One';
  font-size: 1.2em;
  list-style: none;
  margin-bottom: 2%;
}

.vida {
  position: absolute;
  top:35px;
  left: 910px;
  width: 150px;
  height: 20px;
  border:1px solid white;
}

#vid0, #vid1, #vid2, #vid3, #vid4, #vid5 {
  float: left;
  width: 16.6%;
  background-color: green;
  height: 100%;
}

.vict {
  color:white;
  position: absolute;
  top:30px;
  left: 835px;
  font-size: 1.5em;
  font-family: 'Cantora One';
}
.vict ul {margin: 0;padding: 0;list-style: none;}
.vict li {float: left;}
.vict img {width: 35px;}
/* --------------------------------------------- Tablero -------------------------------------------------- */